body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.background-effect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle, #002f4b, #dc4225);
  opacity: 0.8;
  animation: move 10s infinite linear;
}

@keyframes move {
  0% {
    transform: translateX(0) translateY(0);
  }
  50% {
    transform: translateX(-10px) translateY(-10px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

